/**
* Taxonomy API
* Use the Taxonomy API to discover the most appropriate eBay categories under which sellers can offer inventory items for sale, and the most likely categories under which buyers can browse or search for items to purchase. In addition, the Taxonomy API provides metadata about the required and recommended category aspects to include in listings, and also has two operations to retrieve parts compatibility information.
*
* The version of the OpenAPI document: v1.0.0
* 
*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
* https://openapi-generator.tech
* Do not edit the class manually.
*/

package de.daill.api.ebay

import de.daill.model.ebay.*
import de.daill.services.ebay.*
import org.slf4j.LoggerFactory
import org.springframework.beans.factory.annotation.Autowired
import org.springframework.stereotype.Service

@Service
class EbayCategoryTreeApi()  {
    val LOG = LoggerFactory.getLogger(this::class.java)

    @Autowired
    lateinit var client: EbayApiClient

    var environment: EbayEnvironments = EbayEnvironments.SANDBOX


    /**
    * Get Aspects for All Leaf Categories in a Marketplace
    * This call returns a complete list of aspects for all of the leaf categories that belong to an eBay marketplace. The eBay marketplace is specified through the &lt;b&gt;category_tree_id&lt;/b&gt; URI parameter.&lt;br /&gt;&lt;br /&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt; &lt;strong&gt;Note:&lt;/strong&gt; A successful call returns a payload as a gzipped JSON file sent as a binary file using the content-type:application/octet-stream in the response. This file may be large (over 100 MB, compressed). Extract the JSON file from the compressed file with a utility that handles .gz or .gzip. The open source &lt;a href&#x3D;\&quot;https://github.com/eBay/taxonomy-sdk\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Taxonomy SDK&lt;/a&gt; can be used to compare the aspect metadata that is returned in this response. The &lt;b&gt;Taxonomy SDK&lt;/b&gt; uses this method to surface changes (new, modified, and removed entities) between an updated version of a bulk downloaded file relative to a previous version.&lt;/span&gt;
    * @param categoryTreeId The unique identifier of the eBay category tree being apiClient.requested.
    * @return GetCategoriesAspectResponse
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun fetchItemAspects(categoryTreeId: String) : GetCategoriesAspectResponse {
        val localVariableBody: Any? = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/category_tree/{category_tree_id}/fetch_item_aspects".replace("{"+"category_tree_id"+"}", "$categoryTreeId"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val localVarResponse = client.request<GetCategoriesAspectResponse>(
            localVariableConfig,
            localVariableBody
        )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetCategoriesAspectResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Get a Category Subtree
    * This call retrieves the details of all nodes of the category tree hierarchy (the subtree) below a specified category of a category tree. You identify the tree using the &lt;b&gt;category_tree_id&lt;/b&gt; parameter, which was returned by the &lt;b&gt;getDefaultCategoryTreeId&lt;/b&gt; call in the &lt;b&gt;categoryTreeId&lt;/b&gt; field.&lt;br /&gt;&lt;br /&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt; &lt;strong&gt;Note:&lt;/strong&gt; This call can return a very large payload, so you are strongly advised to submit the apiClient.request with the following HTTP header:       &lt;br /&gt;&lt;br /&gt;&lt;code&gt;&amp;nbsp;&amp;nbsp;Accept-Encoding: application/gzip&lt;/code&gt;       &lt;br /&gt;&lt;br /&gt;With this header (in addition to the required headers described under &lt;a href&#x3D;\&quot;/api-docs/static/rest-apiClient.request-components.html#HTTP\&quot;&gt;HTTP Request Headers&lt;/a&gt;), the call returns the response with &lt;b&gt;gzip&lt;/b&gt; compression. &lt;/span&gt;
    * @param categoryId The unique identifier of the category at the top of the subtree being apiClient.requested. &lt;br /&gt;&lt;br /&gt;    &lt;span class&#x3D;\&quot;tablenote\&quot;&gt; &lt;strong&gt;Note:&lt;/strong&gt; If the &lt;b&gt;category_id&lt;/b&gt; submitted identifies the root node of the tree, this call returns an error. To retrieve the complete tree, use this value with the &lt;b&gt;getCategoryTree&lt;/b&gt; call.                   &lt;br /&gt;&lt;br /&gt;   If the &lt;b&gt;category_id&lt;/b&gt; submitted identifies a leaf node of the tree, the call response will contain information about only that leaf node, which is a valid subtree.   &lt;!-- &lt;br /&gt;&lt;br /&gt; This call also returns an error if &lt;b&gt;category_id&lt;/b&gt; identifies a deprecated category. This can occur if you routinely cache your category trees. Use the &lt;b&gt;Get Deprecated Categories and Mapping&lt;/b&gt; call to determine which current category should be used in place of the deprecated category, and use the &lt;b&gt;getCategoryTree&lt;/b&gt; call to update your cached copy of the tree. --&gt; &lt;/span&gt;
    * @param categoryTreeId The unique identifier of the eBay category tree from which a category subtree is being apiClient.requested.
    * @return CategorySubtree
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCategorySubtree(categoryId: String, categoryTreeId: String) : CategorySubtree {
        val localVariableBody: Any? = null
        val localVariableQuery: MultiValueMap = mutableMapOf<String, List<String>>()
            .apply {
                put("category_id", listOf(categoryId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/category_tree/{category_tree_id}/get_category_subtree".replace("{"+"category_tree_id"+"}", "$categoryTreeId"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val localVarResponse = client.request<CategorySubtree>(
            localVariableConfig,
            localVariableBody
        )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CategorySubtree
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Get Suggested Categories
    * This call returns an array of category tree leaf nodes in the specified category tree that are considered by eBay to most closely correspond to the query string &lt;b&gt;q&lt;/b&gt;. Returned with each suggested node is a localized name for that category (based on the &lt;b&gt;Accept-Language&lt;/b&gt; header specified for the call), and details about each of the category&#39;s ancestor nodes, extending from its immediate parent up to the root of the category tree.&lt;br /&gt;&lt;br /&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt; &lt;strong&gt;Note:&lt;/strong&gt; This call can return a large payload, so you are advised to submit the apiClient.request with the following HTTP header:&lt;br /&gt;&lt;br /&gt;&lt;code&gt;&amp;nbsp;&amp;nbsp;Accept-Encoding: application/gzip&lt;/code&gt;&lt;br /&gt;&lt;br /&gt;              With this header (in addition to the required headers described under &lt;a href&#x3D;\&quot;/api-docs/static/rest-apiClient.request-components.html#HTTP\&quot;&gt;HTTP Request Headers&lt;/a&gt;), the call returns the response with &lt;b&gt;gzip&lt;/b&gt; compression. &lt;/span&gt;&lt;br /&gt;&lt;br /&gt;You identify the tree using the &lt;b&gt;category_tree_id&lt;/b&gt; parameter, which was returned by the &lt;b&gt;getDefaultCategoryTreeId&lt;/b&gt; call in the &lt;b&gt;categoryTreeId&lt;/b&gt; field.&lt;br /&gt;&lt;br /&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt; &lt;strong&gt;&lt;span style&#x3D;\&quot;color:red\&quot;&gt;Important:&lt;/span&gt;&lt;/strong&gt; This call is not supported in the Sandbox environment. It will return a response payload in which the &lt;b&gt;categoryName&lt;/b&gt; fields contain random or boilerplate text regardless of the query submitted. &lt;/span&gt;
    * @param categoryTreeId The unique identifier of the eBay category tree for which suggested nodes are being apiClient.requested.
    * @param q A quoted string that describes or characterizes the item being offered for sale. The string format is free form, and can contain any combination of phrases or keywords. eBay will parse the string and return suggested categories for the item. 
    * @return CategorySuggestionResponse
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCategorySuggestions(categoryTreeId: String, q: String) : CategorySuggestionResponse {
        val localVariableBody: Any? = null
        val localVariableQuery: MultiValueMap = mutableMapOf<String, List<String>>()
            .apply {
                put("q", listOf(q))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/category_tree/{category_tree_id}/get_category_suggestions".replace("{"+"category_tree_id"+"}", "$categoryTreeId"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val localVarResponse = client.request<CategorySuggestionResponse>(
            localVariableConfig,
            localVariableBody
        )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CategorySuggestionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Get a Category Tree
    * This call retrieves the complete category tree that is identified by the &lt;b&gt;category_tree_id&lt;/b&gt; parameter. The value of &lt;b&gt;category_tree_id&lt;/b&gt; was returned by the &lt;b&gt;getDefaultCategoryTreeId&lt;/b&gt; call in the &lt;b&gt;categoryTreeId&lt;/b&gt; field. The response contains details of all nodes of the specified eBay category tree, as well as the eBay marketplaces that use this category tree.      &lt;br /&gt;&lt;br /&gt;            &lt;span class&#x3D;\&quot;tablenote\&quot;&gt; &lt;strong&gt;Note:&lt;/strong&gt; This call can return a very large payload, so you are strongly advised to submit the apiClient.request with the following HTTP header:       &lt;br /&gt;&lt;br /&gt;     &lt;code&gt;&amp;nbsp;&amp;nbsp;Accept-Encoding: application/gzip&lt;/code&gt;       &lt;br /&gt;&lt;br /&gt;             With this header (in addition to the required headers described under &lt;a href&#x3D;\&quot;/api-docs/static/rest-apiClient.request-components.html#HTTP\&quot;&gt;HTTP Request Headers&lt;/a&gt;), the call returns the response with &lt;b&gt;gzip&lt;/b&gt; compression.&lt;/span&gt;
    * @param categoryTreeId The unique identifier of the eBay category tree being apiClient.requested.
    * @return CategoryTree
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCategoryTree(categoryTreeId: String) : CategoryTree {
        val localVariableBody: Any? = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/category_tree/{category_tree_id}".replace("{"+"category_tree_id"+"}", "$categoryTreeId"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val localVarResponse = client.request<CategoryTree>(
            localVariableConfig,
            localVariableBody
        )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CategoryTree
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Get Compatibility Properties
    * This call retrieves the compatible vehicle aspects that are used to define a motor vehicle that is compatible with a motor vehicle part or accessory. The values that are retrieved here might include motor vehicle aspects such as &#39;Make&#39;, &#39;Model&#39;, &#39;Year&#39;, &#39;Engine&#39;, and &#39;Trim&#39;, and each of these aspects are localized for the eBay marketplace.&lt;br/&gt;&lt;br/&gt; The &lt;strong&gt;category_tree_id&lt;/strong&gt; value is passed in as a path parameter, and this value identifies the eBay category tree. The &lt;strong&gt;category_id&lt;/strong&gt; value is passed in as a query parameter, as this parameter is also required. The specified category must be a category that supports parts compatibility.&lt;br/&gt;&lt;br/&gt; At this time, this operation only supports parts and accessories listings for cars, trucks, and motorcycles (not boats,  power sports, or any other vehicle types). Only the following eBay marketplaces support parts compatibility:&lt;ul&gt;&lt;li&gt;eBay US (Motors and non-Motors categories)&lt;/li&gt;&lt;li&gt;eBay Canada (Motors and non-Motors categories)&lt;/li&gt;&lt;li&gt;eBay UK&lt;/li&gt;&lt;li&gt;eBay Germany&lt;/li&gt;&lt;li&gt;eBay Australia&lt;/li&gt;&lt;li&gt;eBay France&lt;/li&gt;&lt;li&gt;eBay Italy&lt;/li&gt;&lt;li&gt;eBay Spain&lt;/li&gt;&lt;/ul&gt;
    * @param categoryTreeId This is the unique identifier of category tree. The following is the list of &lt;strong&gt;category_tree_id&lt;/strong&gt; values and the eBay marketplaces that they represent. One of these ID values must be passed in as a path parameter, and the &lt;strong&gt;category_id&lt;/strong&gt; value, that is passed in as query parameter, must be a valid eBay category on that eBay marketplace that supports parts compatibility for cars, trucks, or motorcyles.&lt;br/&gt;&lt;br/&gt;&lt;ul&gt;&lt;li&gt;eBay US: 0&lt;/li&gt;&lt;li&gt;eBay Motors US: 100&lt;/li&gt;&lt;li&gt;eBay Canada: 2&lt;/li&gt;&lt;li&gt;eBay UK: 3&lt;/li&gt;&lt;li&gt;eBay Germany: 77&lt;/li&gt;&lt;li&gt;eBay Australia: 15&lt;/li&gt;&lt;li&gt;eBay France: 71&lt;/li&gt;&lt;li&gt;eBay Italy: 101&lt;/li&gt;&lt;li&gt;eBay Spain: 186&lt;/li&gt;&lt;/ul&gt; 
    * @param categoryId The unique identifier of an eBay category. This eBay category must be a valid eBay category on the specified eBay marketplace, and the category must support parts compatibility for cars, trucks, or motorcyles. The &lt;strong&gt;getAutomotivePartsCompatibilityPolicies&lt;/strong&gt; method of the Selling Metadata API can be used to retrieve all eBay categories for an eBay marketplace that supports parts compatibility cars, trucks, or motorcyles. The &lt;strong&gt;getAutomotivePartsCompatibilityPolicies&lt;/strong&gt; method can also be used to see if one or more specific eBay categories support parts compatibility. 
    * @return GetCompatibilityMetadataResponse
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCompatibilityProperties(categoryTreeId: String, categoryId: String) : GetCompatibilityMetadataResponse {
        val localVariableBody: Any? = null
        val localVariableQuery: MultiValueMap = mutableMapOf<String, List<String>>()
            .apply {
                put("category_id", listOf(categoryId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/category_tree/{category_tree_id}/get_compatibility_properties".replace("{"+"category_tree_id"+"}", "$categoryTreeId"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val localVarResponse = client.request<GetCompatibilityMetadataResponse>(
            localVariableConfig,
            localVariableBody
        )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetCompatibilityMetadataResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Get Compatibility Property Values
    * This call retrieves applicable compatible vehicle property values based on the specified eBay marketplace, specified eBay category, and filters used in the apiClient.request. Compatible vehicle properties are returned in the &lt;strong&gt;compatibilityProperties.name&lt;/strong&gt; field of a &lt;strong&gt;getCompatibilityProperties&lt;/strong&gt; response. &lt;br/&gt;&lt;br/&gt; One compatible vehicle property applicable to the specified eBay marketplace and eBay category is specified through the required &lt;strong&gt;compatibility_property&lt;/strong&gt; filter. Then, the user has the option of further restricting the compatible vehicle property values that are returned in the response by specifying one or more compatible vehicle property name/value pairs through the &lt;strong&gt;filter&lt;/strong&gt; query parameter.&lt;br/&gt;&lt;br/&gt; See the documentation in &lt;strong&gt;URI parameters&lt;/strong&gt; section for more information on using the &lt;strong&gt;compatibility_property&lt;/strong&gt; and &lt;strong&gt;filter&lt;/strong&gt; query parameters together to customize the data that is retrieved.
    * @param categoryTreeId This is the unique identifier of the category tree. The following is the list of &lt;strong&gt;category_tree_id&lt;/strong&gt; values and the eBay marketplaces that they represent. One of these ID values must be passed in as a path parameter, and the &lt;strong&gt;category_id&lt;/strong&gt; value, that is passed in as query parameter, must be a valid eBay category on that eBay marketplace that supports parts compatibility for cars, trucks, or motorcyles.&lt;br/&gt;&lt;br/&gt;&lt;ul&gt;&lt;li&gt;eBay US: 0&lt;/li&gt;&lt;li&gt;eBay Motors US: 100&lt;/li&gt;&lt;li&gt;eBay Canada: 2&lt;/li&gt;&lt;li&gt;eBay UK: 3&lt;/li&gt;&lt;li&gt;eBay Germany: 77&lt;/li&gt;&lt;li&gt;eBay Australia: 15&lt;/li&gt;&lt;li&gt;eBay France: 71&lt;/li&gt;&lt;li&gt;eBay Italy: 101&lt;/li&gt;&lt;li&gt;eBay Spain: 186&lt;/li&gt;&lt;/ul&gt; 
    * @param compatibilityProperty One compatible vehicle property applicable to the specified eBay marketplace and eBay category is specified in this required filter. Compatible vehicle properties are returned in the &lt;strong&gt;compatibilityProperties.name&lt;/strong&gt; field of a &lt;strong&gt;getCompatibilityProperties&lt;/strong&gt; response. &lt;br/&gt;&lt;br/&gt; For example, if you wanted to retrieve all vehicle trims for a 2018 Toyota Camry, you would set this filter as follows: &lt;code&gt;compatibility_property&#x3D;Trim&lt;/code&gt;; and then include the following three name/value filters through one &lt;strong&gt;filter&lt;/strong&gt; parameter: &lt;code&gt;filter&#x3D;Year:2018,Make:Toyota,Model:Camry&lt;/code&gt;. So, putting this all together, your URI would look something like this:&lt;br/&gt;&lt;br/&gt;&lt;pre&gt;&lt;code&gt;GET https://api.ebay.com/commerce/&lt;br/&gt;taxonomy/v1/category_tree/100/&lt;br/&gt;get_compatibility_property_values?&lt;br/&gt;&lt;strong&gt;category_id&lt;/strong&gt;&#x3D;6016&amp;&lt;strong&gt;compatibility_property&lt;/strong&gt;&#x3D;Trim&lt;br/&gt;&amp;&lt;strong&gt;filter&lt;/strong&gt;&#x3D;filter&#x3D;Year:2018,Make:Toyota,Model:Camry&lt;/code&gt;&lt;/pre&gt; 
    * @param categoryId The unique identifier of an eBay category. This eBay category must be a valid eBay category on the specified eBay marketplace, and the category must support parts compatibility for cars, trucks, or motorcyles. The &lt;strong&gt;getAutomotivePartsCompatibilityPolicies&lt;/strong&gt; method of the Selling Metadata API can be used to retrieve all eBay categories for an eBay marketplace that supports parts compatibility cars, trucks, or motorcyles. The &lt;strong&gt;getAutomotivePartsCompatibilityPolicies&lt;/strong&gt; method can also be used to see if one or more specific eBay categories support parts compatibility. 
    * @param filter One or more compatible vehicle property name/value pairs are passed in through this query parameter. The compatible vehicle property name and corresponding value are delimited with a colon (:), such as &lt;code&gt;filter&#x3D;Year:2018&lt;/code&gt;, and multiple compatible vehicle property name/value pairs are delimited with a comma (,). &lt;br/&gt;&lt;br/&gt; For example, if you wanted to retrieve all vehicle trims for a 2018 Toyota Camry, you would set the &lt;strong&gt;compatibility_property&lt;/strong&gt; filter as follows: &lt;code&gt;compatibility_property&#x3D;Trim&lt;/code&gt;; and then include the following three name/value filters through one &lt;strong&gt;filter&lt;/strong&gt; parameter: &lt;code&gt;filter&#x3D;Year:2018,Make:Toyota,Model:Camry&lt;/code&gt;. So, putting this all together, your URI would look something like this:&lt;br/&gt;&lt;br/&gt;&lt;pre&gt;&lt;code&gt;GET https://api.ebay.com/commerce/&lt;br/&gt;taxonomy/v1/category_tree/100/&lt;br/&gt;get_compatibility_property_values?&lt;br/&gt;&lt;strong&gt;category_id&lt;/strong&gt;&#x3D;6016&amp;&lt;strong&gt;compatibility_property&lt;/strong&gt;&#x3D;Trim&lt;br/&gt;&amp;&lt;strong&gt;filter&lt;/strong&gt;&#x3D;filter&#x3D;Year:2018,Make:Toyota,Model:Camry&lt;/code&gt;&lt;/pre&gt; For implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/commerce/taxonomy/types/txn:ConstraintFilter (optional)
    * @return GetCompatibilityPropertyValuesResponse
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCompatibilityPropertyValues(categoryTreeId: String, compatibilityProperty: String, categoryId: String, filter: String?) : GetCompatibilityPropertyValuesResponse {
        val localVariableBody: Any? = null
        val localVariableQuery: MultiValueMap = mutableMapOf<String, List<String>>()
            .apply {
                put("compatibility_property", listOf(compatibilityProperty.toString()))
                put("category_id", listOf(categoryId.toString()))
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/category_tree/{category_tree_id}/get_compatibility_property_values".replace("{"+"category_tree_id"+"}", "$categoryTreeId"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val localVarResponse = client.request<GetCompatibilityPropertyValuesResponse>(
            localVariableConfig,
            localVariableBody
        )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetCompatibilityPropertyValuesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Get a Default Category Tree ID
    * A given eBay marketplace might use multiple category trees, but one of those trees is considered to be the default for that marketplace. This call retrieves a reference to the default category tree associated with the specified eBay marketplace ID. The response includes only the tree&#39;s unique identifier and version, which you can use to retrieve more details about the tree, its structure, and its individual category nodes.
    * @param marketplaceId The ID of the eBay marketplace for which the category tree ID is being apiClient.requested. For a list of supported marketplace IDs, see &lt;a href&#x3D;\&quot;/api-docs/commerce/taxonomy/static/supportedmarketplaces.html\&quot;&gt;Marketplaces with Default Category Trees&lt;/a&gt;.
    * @param acceptLanguage A header used to indicate the natural language the seller prefers for the response.&lt;br /&gt;&lt;br /&gt;This specifies the language that the seller wants to use when the field values provided in the apiClient.request body are displayed to consumers.&lt;br /&gt;&lt;br /&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt; &lt;strong&gt;Note:&lt;/strong&gt; For details, see &lt;i&gt;Accept-Language&lt;/i&gt; in &lt;a href&#x3D;\&quot;/api-docs/static/rest-apiClient.request-components.html#headers\&quot;&gt;HTTP apiClient.request headers&lt;/a&gt;.&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;b&gt;Valid Values:&lt;/b&gt; &lt;ul&gt;&lt;li&gt;For EBAY_CA in French:&lt;br /&gt;&lt;code&gt;Accept-Language: fr-CA&lt;/code&gt;&lt;/li&gt;&lt;li&gt;For EBAY_BE in French:&lt;br /&gt;&lt;code&gt;Accept-Language: fr-BE&lt;/code&gt;&lt;/li&gt;&lt;/ul&gt; (optional)
    * @return BaseCategoryTree
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getDefaultCategoryTreeId(marketplaceId: String, acceptLanguage: String?) : BaseCategoryTree {
        val localVariableBody: Any? = null
        val localVariableQuery: MultiValueMap = mutableMapOf<String, List<String>>()
            .apply {
                put("marketplace_id", listOf(marketplaceId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/get_default_category_tree_id",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val localVarResponse = client.request<BaseCategoryTree>(
            localVariableConfig,
            localVariableBody
        )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BaseCategoryTree
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * 
    * This call returns a list of &lt;i&gt;aspects&lt;/i&gt; that are appropriate or necessary for accurately describing items in the specified leaf category. Each aspect identifies an item attribute (for example, color) for which the seller will be required or encouraged to provide a value (or variation values) when offering an item in that category on eBay.&lt;br /&gt;&lt;br /&gt;For each aspect, &lt;b&gt;getItemAspectsForCategory&lt;/b&gt; provides complete metadata, including: &lt;ul&gt; &lt;li&gt;The aspect&#39;s data type, format, and entry mode&lt;/li&gt; &lt;li&gt;Whether the aspect is required in listings&lt;/li&gt; &lt;li&gt;Whether the aspect can be used for item variations&lt;/li&gt; &lt;li&gt;Whether the aspect accepts multiple values for an item&lt;/li&gt; &lt;li&gt;Allowed values for the aspect&lt;/li&gt; &lt;/ul&gt; Use this information to construct an interface through which sellers can enter or select the appropriate values for their items or item variations. Once you collect those values, include them as product aspects when creating inventory items using the Inventory API.
    * @param categoryId The unique identifier of the leaf category for which aspects are being apiClient.requested.          &lt;br /&gt;&lt;br /&gt;                 &lt;span class&#x3D;\&quot;tablenote\&quot;&gt; &lt;strong&gt;Note:&lt;/strong&gt; If the &lt;b&gt;category_id&lt;/b&gt; submitted does not identify a leaf node of the tree, this call returns an error. &lt;/span&gt;
    * @param categoryTreeId The unique identifier of the eBay category tree from which the specified category&#39;s aspects are being apiClient.requested.
    * @return AspectMetadata
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getItemAspectsForCategory(categoryId: String, categoryTreeId: String) : AspectMetadata {
        val localVariableBody: Any? = null
        val localVariableQuery: MultiValueMap = mutableMapOf<String, List<String>>()
            .apply {
                put("category_id", listOf(categoryId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/category_tree/{category_tree_id}/get_item_aspects_for_category".replace("{"+"category_tree_id"+"}", "$categoryTreeId"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val localVarResponse = client.request<AspectMetadata>(
            localVariableConfig,
            localVariableBody
        )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AspectMetadata
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

}
