/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class BulkBulkUuidOperationStatusStatusApi {
    private ApiClient localVarApiClient;

    public BulkBulkUuidOperationStatusStatusApi() {
        this(Configuration.getDefaultApiClient());
    }

    public BulkBulkUuidOperationStatusStatusApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1BulkBulkUuidOperationstatusStatus
     * @param bulkUuid  (required)
     * @param status  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1BulkBulkUuidOperationstatusStatusCall(String bulkUuid, Integer status, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/bulk/{bulkUuid}/operation-status/{status}"
            .replaceAll("\\{" + "bulkUuid" + "\\}", localVarApiClient.escapeString(bulkUuid.toString()))
            .replaceAll("\\{" + "status" + "\\}", localVarApiClient.escapeString(status.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1BulkBulkUuidOperationstatusStatusValidateBeforeCall(String bulkUuid, Integer status, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'bulkUuid' is set
        if (bulkUuid == null) {
            throw new ApiException("Missing the required parameter 'bulkUuid' when calling getV1BulkBulkUuidOperationstatusStatus(Async)");
        }
        
        // verify the required parameter 'status' is set
        if (status == null) {
            throw new ApiException("Missing the required parameter 'status' when calling getV1BulkBulkUuidOperationstatusStatus(Async)");
        }
        

        okhttp3.Call localVarCall = getV1BulkBulkUuidOperationstatusStatusCall(bulkUuid, status, _callback);
        return localVarCall;

    }

    /**
     * bulk/{bulkUuid}/operation-status/{status}
     * Get operations count by bulk uuid and status.
     * @param bulkUuid  (required)
     * @param status  (required)
     * @return Integer
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public Integer getV1BulkBulkUuidOperationstatusStatus(String bulkUuid, Integer status) throws ApiException {
        ApiResponse<Integer> localVarResp = getV1BulkBulkUuidOperationstatusStatusWithHttpInfo(bulkUuid, status);
        return localVarResp.getData();
    }

    /**
     * bulk/{bulkUuid}/operation-status/{status}
     * Get operations count by bulk uuid and status.
     * @param bulkUuid  (required)
     * @param status  (required)
     * @return ApiResponse&lt;Integer&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Integer> getV1BulkBulkUuidOperationstatusStatusWithHttpInfo(String bulkUuid, Integer status) throws ApiException {
        okhttp3.Call localVarCall = getV1BulkBulkUuidOperationstatusStatusValidateBeforeCall(bulkUuid, status, null);
        Type localVarReturnType = new TypeToken<Integer>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * bulk/{bulkUuid}/operation-status/{status} (asynchronously)
     * Get operations count by bulk uuid and status.
     * @param bulkUuid  (required)
     * @param status  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1BulkBulkUuidOperationstatusStatusAsync(String bulkUuid, Integer status, final ApiCallback<Integer> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1BulkBulkUuidOperationstatusStatusValidateBeforeCall(bulkUuid, status, _callback);
        Type localVarReturnType = new TypeToken<Integer>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
