/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.math.BigDecimal;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CartsGuestCartsCartIdCheckGiftCardGiftCardCodeApi {
    private ApiClient localVarApiClient;

    public CartsGuestCartsCartIdCheckGiftCardGiftCardCodeApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CartsGuestCartsCartIdCheckGiftCardGiftCardCodeApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCode
     * @param cartId  (required)
     * @param giftCardCode  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCodeCall(String cartId, String giftCardCode, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode}"
            .replaceAll("\\{" + "cartId" + "\\}", localVarApiClient.escapeString(cartId.toString()))
            .replaceAll("\\{" + "giftCardCode" + "\\}", localVarApiClient.escapeString(giftCardCode.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCodeValidateBeforeCall(String cartId, String giftCardCode, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'cartId' is set
        if (cartId == null) {
            throw new ApiException("Missing the required parameter 'cartId' when calling getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCode(Async)");
        }
        
        // verify the required parameter 'giftCardCode' is set
        if (giftCardCode == null) {
            throw new ApiException("Missing the required parameter 'giftCardCode' when calling getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCode(Async)");
        }
        

        okhttp3.Call localVarCall = getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCodeCall(cartId, giftCardCode, _callback);
        return localVarCall;

    }

    /**
     * carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode}
     * Check gift card balance if added to the cart.
     * @param cartId  (required)
     * @param giftCardCode  (required)
     * @return BigDecimal
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public BigDecimal getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCode(String cartId, String giftCardCode) throws ApiException {
        ApiResponse<BigDecimal> localVarResp = getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCodeWithHttpInfo(cartId, giftCardCode);
        return localVarResp.getData();
    }

    /**
     * carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode}
     * Check gift card balance if added to the cart.
     * @param cartId  (required)
     * @param giftCardCode  (required)
     * @return ApiResponse&lt;BigDecimal&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<BigDecimal> getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCodeWithHttpInfo(String cartId, String giftCardCode) throws ApiException {
        okhttp3.Call localVarCall = getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCodeValidateBeforeCall(cartId, giftCardCode, null);
        Type localVarReturnType = new TypeToken<BigDecimal>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode} (asynchronously)
     * Check gift card balance if added to the cart.
     * @param cartId  (required)
     * @param giftCardCode  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCodeAsync(String cartId, String giftCardCode, final ApiCallback<BigDecimal> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1CartsGuestcartsCartIdCheckGiftCardGiftCardCodeValidateBeforeCall(cartId, giftCardCode, _callback);
        Type localVarReturnType = new TypeToken<BigDecimal>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
