/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.CompanyCreditDataCreditLimitInterface;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CompanyCreditsCreditIdApi {
    private ApiClient localVarApiClient;

    public CompanyCreditsCreditIdApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CompanyCreditsCreditIdApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1CompanyCreditsCreditId
     * @param creditId  (required)
     * @param reload [optional] (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1CompanyCreditsCreditIdCall(Integer creditId, Boolean reload, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/companyCredits/{creditId}"
            .replaceAll("\\{" + "creditId" + "\\}", localVarApiClient.escapeString(creditId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (reload != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reload", reload));
        }

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1CompanyCreditsCreditIdValidateBeforeCall(Integer creditId, Boolean reload, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'creditId' is set
        if (creditId == null) {
            throw new ApiException("Missing the required parameter 'creditId' when calling getV1CompanyCreditsCreditId(Async)");
        }
        

        okhttp3.Call localVarCall = getV1CompanyCreditsCreditIdCall(creditId, reload, _callback);
        return localVarCall;

    }

    /**
     * companyCredits/{creditId}
     * Returns data on the credit limit for a specified credit limit ID.
     * @param creditId  (required)
     * @param reload [optional] (optional)
     * @return CompanyCreditDataCreditLimitInterface
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public CompanyCreditDataCreditLimitInterface getV1CompanyCreditsCreditId(Integer creditId, Boolean reload) throws ApiException {
        ApiResponse<CompanyCreditDataCreditLimitInterface> localVarResp = getV1CompanyCreditsCreditIdWithHttpInfo(creditId, reload);
        return localVarResp.getData();
    }

    /**
     * companyCredits/{creditId}
     * Returns data on the credit limit for a specified credit limit ID.
     * @param creditId  (required)
     * @param reload [optional] (optional)
     * @return ApiResponse&lt;CompanyCreditDataCreditLimitInterface&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CompanyCreditDataCreditLimitInterface> getV1CompanyCreditsCreditIdWithHttpInfo(Integer creditId, Boolean reload) throws ApiException {
        okhttp3.Call localVarCall = getV1CompanyCreditsCreditIdValidateBeforeCall(creditId, reload, null);
        Type localVarReturnType = new TypeToken<CompanyCreditDataCreditLimitInterface>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * companyCredits/{creditId} (asynchronously)
     * Returns data on the credit limit for a specified credit limit ID.
     * @param creditId  (required)
     * @param reload [optional] (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1CompanyCreditsCreditIdAsync(Integer creditId, Boolean reload, final ApiCallback<CompanyCreditDataCreditLimitInterface> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1CompanyCreditsCreditIdValidateBeforeCall(creditId, reload, _callback);
        Type localVarReturnType = new TypeToken<CompanyCreditDataCreditLimitInterface>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
