/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenApi {
    private ApiClient localVarApiClient;

    public CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkToken
     * @param customerId If null is given then a customer will be matched by the RP token. (required)
     * @param resetPasswordLinkToken  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenCall(Integer customerId, String resetPasswordLinkToken, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}"
            .replaceAll("\\{" + "customerId" + "\\}", localVarApiClient.escapeString(customerId.toString()))
            .replaceAll("\\{" + "resetPasswordLinkToken" + "\\}", localVarApiClient.escapeString(resetPasswordLinkToken.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenValidateBeforeCall(Integer customerId, String resetPasswordLinkToken, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'customerId' is set
        if (customerId == null) {
            throw new ApiException("Missing the required parameter 'customerId' when calling getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkToken(Async)");
        }
        
        // verify the required parameter 'resetPasswordLinkToken' is set
        if (resetPasswordLinkToken == null) {
            throw new ApiException("Missing the required parameter 'resetPasswordLinkToken' when calling getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkToken(Async)");
        }
        

        okhttp3.Call localVarCall = getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenCall(customerId, resetPasswordLinkToken, _callback);
        return localVarCall;

    }

    /**
     * customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}
     * Check if password reset token is valid.
     * @param customerId If null is given then a customer will be matched by the RP token. (required)
     * @param resetPasswordLinkToken  (required)
     * @return Boolean
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public Boolean getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkToken(Integer customerId, String resetPasswordLinkToken) throws ApiException {
        ApiResponse<Boolean> localVarResp = getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenWithHttpInfo(customerId, resetPasswordLinkToken);
        return localVarResp.getData();
    }

    /**
     * customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}
     * Check if password reset token is valid.
     * @param customerId If null is given then a customer will be matched by the RP token. (required)
     * @param resetPasswordLinkToken  (required)
     * @return ApiResponse&lt;Boolean&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Boolean> getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenWithHttpInfo(Integer customerId, String resetPasswordLinkToken) throws ApiException {
        okhttp3.Call localVarCall = getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenValidateBeforeCall(customerId, resetPasswordLinkToken, null);
        Type localVarReturnType = new TypeToken<Boolean>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken} (asynchronously)
     * Check if password reset token is valid.
     * @param customerId If null is given then a customer will be matched by the RP token. (required)
     * @param resetPasswordLinkToken  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenAsync(Integer customerId, String resetPasswordLinkToken, final ApiCallback<Boolean> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenValidateBeforeCall(customerId, resetPasswordLinkToken, _callback);
        Type localVarReturnType = new TypeToken<Boolean>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
