/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.ErrorResponse;
import org.magento.api.model.InlineObject20;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class HierarchyMoveIdApi {
    private ApiClient localVarApiClient;

    public HierarchyMoveIdApi() {
        this(Configuration.getDefaultApiClient());
    }

    public HierarchyMoveIdApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for putV1HierarchyMoveId
     * @param id  (required)
     * @param inlineObject20  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call putV1HierarchyMoveIdCall(Integer id, InlineObject20 inlineObject20, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject20;

        // create path and map variables
        String localVarPath = "/V1/hierarchy/move/{id}"
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call putV1HierarchyMoveIdValidateBeforeCall(Integer id, InlineObject20 inlineObject20, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling putV1HierarchyMoveId(Async)");
        }
        

        okhttp3.Call localVarCall = putV1HierarchyMoveIdCall(id, inlineObject20, _callback);
        return localVarCall;

    }

    /**
     * hierarchy/move/{id}
     * Moves teams and users within the company structure.
     * @param id  (required)
     * @param inlineObject20  (optional)
     * @return ErrorResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ErrorResponse putV1HierarchyMoveId(Integer id, InlineObject20 inlineObject20) throws ApiException {
        ApiResponse<ErrorResponse> localVarResp = putV1HierarchyMoveIdWithHttpInfo(id, inlineObject20);
        return localVarResp.getData();
    }

    /**
     * hierarchy/move/{id}
     * Moves teams and users within the company structure.
     * @param id  (required)
     * @param inlineObject20  (optional)
     * @return ApiResponse&lt;ErrorResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ErrorResponse> putV1HierarchyMoveIdWithHttpInfo(Integer id, InlineObject20 inlineObject20) throws ApiException {
        okhttp3.Call localVarCall = putV1HierarchyMoveIdValidateBeforeCall(id, inlineObject20, null);
        Type localVarReturnType = new TypeToken<ErrorResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * hierarchy/move/{id} (asynchronously)
     * Moves teams and users within the company structure.
     * @param id  (required)
     * @param inlineObject20  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call putV1HierarchyMoveIdAsync(Integer id, InlineObject20 inlineObject20, final ApiCallback<ErrorResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = putV1HierarchyMoveIdValidateBeforeCall(id, inlineObject20, _callback);
        Type localVarReturnType = new TypeToken<ErrorResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
