/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.math.BigDecimal;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InventoryAreProductSalableForRequestedQtyApi {
    private ApiClient localVarApiClient;

    public InventoryAreProductSalableForRequestedQtyApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InventoryAreProductSalableForRequestedQtyApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1InventoryAreproductsalableforrequestedqty
     * @param stockId  (required)
     * @param skuRequests0Sku Product sku. (optional)
     * @param skuRequests0Qty Product quantity. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryAreproductsalableforrequestedqtyCall(Integer stockId, String skuRequests0Sku, BigDecimal skuRequests0Qty, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/inventory/are-product-salable-for-requested-qty/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (skuRequests0Sku != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("skuRequests[0][sku]", skuRequests0Sku));
        }

        if (skuRequests0Qty != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("skuRequests[0][qty]", skuRequests0Qty));
        }

        if (stockId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("stockId", stockId));
        }

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1InventoryAreproductsalableforrequestedqtyValidateBeforeCall(Integer stockId, String skuRequests0Sku, BigDecimal skuRequests0Qty, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'stockId' is set
        if (stockId == null) {
            throw new ApiException("Missing the required parameter 'stockId' when calling getV1InventoryAreproductsalableforrequestedqty(Async)");
        }
        

        okhttp3.Call localVarCall = getV1InventoryAreproductsalableforrequestedqtyCall(stockId, skuRequests0Sku, skuRequests0Qty, _callback);
        return localVarCall;

    }

    /**
     * inventory/are-product-salable-for-requested-qty/
     * Get whether products are salable in requested Qty for given set of SKUs in specified stock.
     * @param stockId  (required)
     * @param skuRequests0Sku Product sku. (optional)
     * @param skuRequests0Qty Product quantity. (optional)
     * @return List&lt;InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public List<InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface> getV1InventoryAreproductsalableforrequestedqty(Integer stockId, String skuRequests0Sku, BigDecimal skuRequests0Qty) throws ApiException {
        ApiResponse<List<InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface>> localVarResp = getV1InventoryAreproductsalableforrequestedqtyWithHttpInfo(stockId, skuRequests0Sku, skuRequests0Qty);
        return localVarResp.getData();
    }

    /**
     * inventory/are-product-salable-for-requested-qty/
     * Get whether products are salable in requested Qty for given set of SKUs in specified stock.
     * @param stockId  (required)
     * @param skuRequests0Sku Product sku. (optional)
     * @param skuRequests0Qty Product quantity. (optional)
     * @return ApiResponse&lt;List&lt;InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface>> getV1InventoryAreproductsalableforrequestedqtyWithHttpInfo(Integer stockId, String skuRequests0Sku, BigDecimal skuRequests0Qty) throws ApiException {
        okhttp3.Call localVarCall = getV1InventoryAreproductsalableforrequestedqtyValidateBeforeCall(stockId, skuRequests0Sku, skuRequests0Qty, null);
        Type localVarReturnType = new TypeToken<List<InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * inventory/are-product-salable-for-requested-qty/ (asynchronously)
     * Get whether products are salable in requested Qty for given set of SKUs in specified stock.
     * @param stockId  (required)
     * @param skuRequests0Sku Product sku. (optional)
     * @param skuRequests0Qty Product quantity. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryAreproductsalableforrequestedqtyAsync(Integer stockId, String skuRequests0Sku, BigDecimal skuRequests0Qty, final ApiCallback<List<InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1InventoryAreproductsalableforrequestedqtyValidateBeforeCall(stockId, skuRequests0Sku, skuRequests0Qty, _callback);
        Type localVarReturnType = new TypeToken<List<InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
