/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.InventorySalesApiDataProductSalableResultInterface;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.math.BigDecimal;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InventoryIsProductSalableForRequestedQtySkuStockIdRequestedQtyApi {
    private ApiClient localVarApiClient;

    public InventoryIsProductSalableForRequestedQtySkuStockIdRequestedQtyApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InventoryIsProductSalableForRequestedQtySkuStockIdRequestedQtyApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQty
     * @param sku  (required)
     * @param stockId  (required)
     * @param requestedQty  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQtyCall(String sku, Integer stockId, BigDecimal requestedQty, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/inventory/is-product-salable-for-requested-qty/{sku}/{stockId}/{requestedQty}"
            .replaceAll("\\{" + "sku" + "\\}", localVarApiClient.escapeString(sku.toString()))
            .replaceAll("\\{" + "stockId" + "\\}", localVarApiClient.escapeString(stockId.toString()))
            .replaceAll("\\{" + "requestedQty" + "\\}", localVarApiClient.escapeString(requestedQty.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQtyValidateBeforeCall(String sku, Integer stockId, BigDecimal requestedQty, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'sku' is set
        if (sku == null) {
            throw new ApiException("Missing the required parameter 'sku' when calling getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQty(Async)");
        }
        
        // verify the required parameter 'stockId' is set
        if (stockId == null) {
            throw new ApiException("Missing the required parameter 'stockId' when calling getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQty(Async)");
        }
        
        // verify the required parameter 'requestedQty' is set
        if (requestedQty == null) {
            throw new ApiException("Missing the required parameter 'requestedQty' when calling getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQty(Async)");
        }
        

        okhttp3.Call localVarCall = getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQtyCall(sku, stockId, requestedQty, _callback);
        return localVarCall;

    }

    /**
     * inventory/is-product-salable-for-requested-qty/{sku}/{stockId}/{requestedQty}
     * Get is product salable for given SKU in a given Stock for a certain Qty
     * @param sku  (required)
     * @param stockId  (required)
     * @param requestedQty  (required)
     * @return InventorySalesApiDataProductSalableResultInterface
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public InventorySalesApiDataProductSalableResultInterface getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQty(String sku, Integer stockId, BigDecimal requestedQty) throws ApiException {
        ApiResponse<InventorySalesApiDataProductSalableResultInterface> localVarResp = getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQtyWithHttpInfo(sku, stockId, requestedQty);
        return localVarResp.getData();
    }

    /**
     * inventory/is-product-salable-for-requested-qty/{sku}/{stockId}/{requestedQty}
     * Get is product salable for given SKU in a given Stock for a certain Qty
     * @param sku  (required)
     * @param stockId  (required)
     * @param requestedQty  (required)
     * @return ApiResponse&lt;InventorySalesApiDataProductSalableResultInterface&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InventorySalesApiDataProductSalableResultInterface> getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQtyWithHttpInfo(String sku, Integer stockId, BigDecimal requestedQty) throws ApiException {
        okhttp3.Call localVarCall = getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQtyValidateBeforeCall(sku, stockId, requestedQty, null);
        Type localVarReturnType = new TypeToken<InventorySalesApiDataProductSalableResultInterface>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * inventory/is-product-salable-for-requested-qty/{sku}/{stockId}/{requestedQty} (asynchronously)
     * Get is product salable for given SKU in a given Stock for a certain Qty
     * @param sku  (required)
     * @param stockId  (required)
     * @param requestedQty  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQtyAsync(String sku, Integer stockId, BigDecimal requestedQty, final ApiCallback<InventorySalesApiDataProductSalableResultInterface> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1InventoryIsproductsalableforrequestedqtySkuStockIdRequestedQtyValidateBeforeCall(sku, stockId, requestedQty, _callback);
        Type localVarReturnType = new TypeToken<InventorySalesApiDataProductSalableResultInterface>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
