/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.InventoryApiDataSourceInterface;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InventoryGetSourcesAssignedToStockOrderedByPriorityStockIdApi {
    private ApiClient localVarApiClient;

    public InventoryGetSourcesAssignedToStockOrderedByPriorityStockIdApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InventoryGetSourcesAssignedToStockOrderedByPriorityStockIdApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1InventoryGetsourcesassignedtostockorderedbypriorityStockId
     * @param stockId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryGetsourcesassignedtostockorderedbypriorityStockIdCall(Integer stockId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/inventory/get-sources-assigned-to-stock-ordered-by-priority/{stockId}"
            .replaceAll("\\{" + "stockId" + "\\}", localVarApiClient.escapeString(stockId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1InventoryGetsourcesassignedtostockorderedbypriorityStockIdValidateBeforeCall(Integer stockId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'stockId' is set
        if (stockId == null) {
            throw new ApiException("Missing the required parameter 'stockId' when calling getV1InventoryGetsourcesassignedtostockorderedbypriorityStockId(Async)");
        }
        

        okhttp3.Call localVarCall = getV1InventoryGetsourcesassignedtostockorderedbypriorityStockIdCall(stockId, _callback);
        return localVarCall;

    }

    /**
     * inventory/get-sources-assigned-to-stock-ordered-by-priority/{stockId}
     * Get Sources assigned to Stock ordered by priority If Stock with given id doesn&#39;t exist then return an empty array
     * @param stockId  (required)
     * @return List&lt;InventoryApiDataSourceInterface&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public List<InventoryApiDataSourceInterface> getV1InventoryGetsourcesassignedtostockorderedbypriorityStockId(Integer stockId) throws ApiException {
        ApiResponse<List<InventoryApiDataSourceInterface>> localVarResp = getV1InventoryGetsourcesassignedtostockorderedbypriorityStockIdWithHttpInfo(stockId);
        return localVarResp.getData();
    }

    /**
     * inventory/get-sources-assigned-to-stock-ordered-by-priority/{stockId}
     * Get Sources assigned to Stock ordered by priority If Stock with given id doesn&#39;t exist then return an empty array
     * @param stockId  (required)
     * @return ApiResponse&lt;List&lt;InventoryApiDataSourceInterface&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<InventoryApiDataSourceInterface>> getV1InventoryGetsourcesassignedtostockorderedbypriorityStockIdWithHttpInfo(Integer stockId) throws ApiException {
        okhttp3.Call localVarCall = getV1InventoryGetsourcesassignedtostockorderedbypriorityStockIdValidateBeforeCall(stockId, null);
        Type localVarReturnType = new TypeToken<List<InventoryApiDataSourceInterface>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * inventory/get-sources-assigned-to-stock-ordered-by-priority/{stockId} (asynchronously)
     * Get Sources assigned to Stock ordered by priority If Stock with given id doesn&#39;t exist then return an empty array
     * @param stockId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryGetsourcesassignedtostockorderedbypriorityStockIdAsync(Integer stockId, final ApiCallback<List<InventoryApiDataSourceInterface>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1InventoryGetsourcesassignedtostockorderedbypriorityStockIdValidateBeforeCall(stockId, _callback);
        Type localVarReturnType = new TypeToken<List<InventoryApiDataSourceInterface>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
