/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.InventoryLowQuantityNotificationApiDataSourceItemConfigurationInterface;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InventoryLowQuantityNotificationSourceCodeSkuApi {
    private ApiClient localVarApiClient;

    public InventoryLowQuantityNotificationSourceCodeSkuApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InventoryLowQuantityNotificationSourceCodeSkuApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1InventoryLowquantitynotificationSourceCodeSku
     * @param sourceCode  (required)
     * @param sku  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryLowquantitynotificationSourceCodeSkuCall(String sourceCode, String sku, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/inventory/low-quantity-notification/{sourceCode}/{sku}"
            .replaceAll("\\{" + "sourceCode" + "\\}", localVarApiClient.escapeString(sourceCode.toString()))
            .replaceAll("\\{" + "sku" + "\\}", localVarApiClient.escapeString(sku.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1InventoryLowquantitynotificationSourceCodeSkuValidateBeforeCall(String sourceCode, String sku, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'sourceCode' is set
        if (sourceCode == null) {
            throw new ApiException("Missing the required parameter 'sourceCode' when calling getV1InventoryLowquantitynotificationSourceCodeSku(Async)");
        }
        
        // verify the required parameter 'sku' is set
        if (sku == null) {
            throw new ApiException("Missing the required parameter 'sku' when calling getV1InventoryLowquantitynotificationSourceCodeSku(Async)");
        }
        

        okhttp3.Call localVarCall = getV1InventoryLowquantitynotificationSourceCodeSkuCall(sourceCode, sku, _callback);
        return localVarCall;

    }

    /**
     * inventory/low-quantity-notification/{sourceCode}/{sku}
     * Get the source item configuration
     * @param sourceCode  (required)
     * @param sku  (required)
     * @return InventoryLowQuantityNotificationApiDataSourceItemConfigurationInterface
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public InventoryLowQuantityNotificationApiDataSourceItemConfigurationInterface getV1InventoryLowquantitynotificationSourceCodeSku(String sourceCode, String sku) throws ApiException {
        ApiResponse<InventoryLowQuantityNotificationApiDataSourceItemConfigurationInterface> localVarResp = getV1InventoryLowquantitynotificationSourceCodeSkuWithHttpInfo(sourceCode, sku);
        return localVarResp.getData();
    }

    /**
     * inventory/low-quantity-notification/{sourceCode}/{sku}
     * Get the source item configuration
     * @param sourceCode  (required)
     * @param sku  (required)
     * @return ApiResponse&lt;InventoryLowQuantityNotificationApiDataSourceItemConfigurationInterface&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InventoryLowQuantityNotificationApiDataSourceItemConfigurationInterface> getV1InventoryLowquantitynotificationSourceCodeSkuWithHttpInfo(String sourceCode, String sku) throws ApiException {
        okhttp3.Call localVarCall = getV1InventoryLowquantitynotificationSourceCodeSkuValidateBeforeCall(sourceCode, sku, null);
        Type localVarReturnType = new TypeToken<InventoryLowQuantityNotificationApiDataSourceItemConfigurationInterface>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * inventory/low-quantity-notification/{sourceCode}/{sku} (asynchronously)
     * Get the source item configuration
     * @param sourceCode  (required)
     * @param sku  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server error </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryLowquantitynotificationSourceCodeSkuAsync(String sourceCode, String sku, final ApiCallback<InventoryLowQuantityNotificationApiDataSourceItemConfigurationInterface> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1InventoryLowquantitynotificationSourceCodeSkuValidateBeforeCall(sourceCode, sku, _callback);
        Type localVarReturnType = new TypeToken<InventoryLowQuantityNotificationApiDataSourceItemConfigurationInterface>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
