/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.math.BigDecimal;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InventoryGetDistanceApi {
    private ApiClient localVarApiClient;

    public InventoryGetDistanceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InventoryGetDistanceApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1InventoryGetdistance
     * @param sourceLat Latitude (optional)
     * @param sourceLng Longitude (optional)
     * @param destinationLat Latitude (optional)
     * @param destinationLng Longitude (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryGetdistanceCall(BigDecimal sourceLat, BigDecimal sourceLng, BigDecimal destinationLat, BigDecimal destinationLng, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/inventory/get-distance";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (sourceLat != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("source[lat]", sourceLat));
        }

        if (sourceLng != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("source[lng]", sourceLng));
        }

        if (destinationLat != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("destination[lat]", destinationLat));
        }

        if (destinationLng != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("destination[lng]", destinationLng));
        }

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1InventoryGetdistanceValidateBeforeCall(BigDecimal sourceLat, BigDecimal sourceLng, BigDecimal destinationLat, BigDecimal destinationLng, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getV1InventoryGetdistanceCall(sourceLat, sourceLng, destinationLat, destinationLng, _callback);
        return localVarCall;

    }

    /**
     * inventory/get-distance
     * Get distance between two points
     * @param sourceLat Latitude (optional)
     * @param sourceLng Longitude (optional)
     * @param destinationLat Latitude (optional)
     * @param destinationLng Longitude (optional)
     * @return BigDecimal
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public BigDecimal getV1InventoryGetdistance(BigDecimal sourceLat, BigDecimal sourceLng, BigDecimal destinationLat, BigDecimal destinationLng) throws ApiException {
        ApiResponse<BigDecimal> localVarResp = getV1InventoryGetdistanceWithHttpInfo(sourceLat, sourceLng, destinationLat, destinationLng);
        return localVarResp.getData();
    }

    /**
     * inventory/get-distance
     * Get distance between two points
     * @param sourceLat Latitude (optional)
     * @param sourceLng Longitude (optional)
     * @param destinationLat Latitude (optional)
     * @param destinationLng Longitude (optional)
     * @return ApiResponse&lt;BigDecimal&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<BigDecimal> getV1InventoryGetdistanceWithHttpInfo(BigDecimal sourceLat, BigDecimal sourceLng, BigDecimal destinationLat, BigDecimal destinationLng) throws ApiException {
        okhttp3.Call localVarCall = getV1InventoryGetdistanceValidateBeforeCall(sourceLat, sourceLng, destinationLat, destinationLng, null);
        Type localVarReturnType = new TypeToken<BigDecimal>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * inventory/get-distance (asynchronously)
     * Get distance between two points
     * @param sourceLat Latitude (optional)
     * @param sourceLng Longitude (optional)
     * @param destinationLat Latitude (optional)
     * @param destinationLng Longitude (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryGetdistanceAsync(BigDecimal sourceLat, BigDecimal sourceLng, BigDecimal destinationLat, BigDecimal destinationLng, final ApiCallback<BigDecimal> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1InventoryGetdistanceValidateBeforeCall(sourceLat, sourceLng, destinationLat, destinationLng, _callback);
        Type localVarReturnType = new TypeToken<BigDecimal>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
