/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.InventoryDistanceBasedSourceSelectionApiDataLatLngInterface;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InventoryGetLatlngFromAddressApi {
    private ApiClient localVarApiClient;

    public InventoryGetLatlngFromAddressApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InventoryGetLatlngFromAddressApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1InventoryGetlatlngfromaddress
     * @param addressCountry Shipping country (optional)
     * @param addressPostcode Shipping postcode (optional)
     * @param addressStreet Shipping street address (optional)
     * @param addressRegion Shipping region (optional)
     * @param addressCity Shipping city (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryGetlatlngfromaddressCall(String addressCountry, String addressPostcode, String addressStreet, String addressRegion, String addressCity, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/inventory/get-latlng-from-address";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (addressCountry != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("address[country]", addressCountry));
        }

        if (addressPostcode != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("address[postcode]", addressPostcode));
        }

        if (addressStreet != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("address[street]", addressStreet));
        }

        if (addressRegion != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("address[region]", addressRegion));
        }

        if (addressCity != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("address[city]", addressCity));
        }

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1InventoryGetlatlngfromaddressValidateBeforeCall(String addressCountry, String addressPostcode, String addressStreet, String addressRegion, String addressCity, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getV1InventoryGetlatlngfromaddressCall(addressCountry, addressPostcode, addressStreet, addressRegion, addressCity, _callback);
        return localVarCall;

    }

    /**
     * inventory/get-latlng-from-address
     * Get latitude and longitude object from address
     * @param addressCountry Shipping country (optional)
     * @param addressPostcode Shipping postcode (optional)
     * @param addressStreet Shipping street address (optional)
     * @param addressRegion Shipping region (optional)
     * @param addressCity Shipping city (optional)
     * @return InventoryDistanceBasedSourceSelectionApiDataLatLngInterface
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public InventoryDistanceBasedSourceSelectionApiDataLatLngInterface getV1InventoryGetlatlngfromaddress(String addressCountry, String addressPostcode, String addressStreet, String addressRegion, String addressCity) throws ApiException {
        ApiResponse<InventoryDistanceBasedSourceSelectionApiDataLatLngInterface> localVarResp = getV1InventoryGetlatlngfromaddressWithHttpInfo(addressCountry, addressPostcode, addressStreet, addressRegion, addressCity);
        return localVarResp.getData();
    }

    /**
     * inventory/get-latlng-from-address
     * Get latitude and longitude object from address
     * @param addressCountry Shipping country (optional)
     * @param addressPostcode Shipping postcode (optional)
     * @param addressStreet Shipping street address (optional)
     * @param addressRegion Shipping region (optional)
     * @param addressCity Shipping city (optional)
     * @return ApiResponse&lt;InventoryDistanceBasedSourceSelectionApiDataLatLngInterface&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InventoryDistanceBasedSourceSelectionApiDataLatLngInterface> getV1InventoryGetlatlngfromaddressWithHttpInfo(String addressCountry, String addressPostcode, String addressStreet, String addressRegion, String addressCity) throws ApiException {
        okhttp3.Call localVarCall = getV1InventoryGetlatlngfromaddressValidateBeforeCall(addressCountry, addressPostcode, addressStreet, addressRegion, addressCity, null);
        Type localVarReturnType = new TypeToken<InventoryDistanceBasedSourceSelectionApiDataLatLngInterface>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * inventory/get-latlng-from-address (asynchronously)
     * Get latitude and longitude object from address
     * @param addressCountry Shipping country (optional)
     * @param addressPostcode Shipping postcode (optional)
     * @param addressStreet Shipping street address (optional)
     * @param addressRegion Shipping region (optional)
     * @param addressCity Shipping city (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1InventoryGetlatlngfromaddressAsync(String addressCountry, String addressPostcode, String addressStreet, String addressRegion, String addressCity, final ApiCallback<InventoryDistanceBasedSourceSelectionApiDataLatLngInterface> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1InventoryGetlatlngfromaddressValidateBeforeCall(addressCountry, addressPostcode, addressStreet, addressRegion, addressCity, _callback);
        Type localVarReturnType = new TypeToken<InventoryDistanceBasedSourceSelectionApiDataLatLngInterface>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
