/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.NegotiableQuoteDataAttachmentContentInterface;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class NegotiableQuoteAttachmentContentApi {
    private ApiClient localVarApiClient;

    public NegotiableQuoteAttachmentContentApi() {
        this(Configuration.getDefaultApiClient());
    }

    public NegotiableQuoteAttachmentContentApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1NegotiableQuoteAttachmentContent
     * @param attachmentIds  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1NegotiableQuoteAttachmentContentCall(List<Integer> attachmentIds, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/negotiableQuote/attachmentContent";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (attachmentIds != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("csv", "attachmentIds", attachmentIds));
        }

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1NegotiableQuoteAttachmentContentValidateBeforeCall(List<Integer> attachmentIds, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'attachmentIds' is set
        if (attachmentIds == null) {
            throw new ApiException("Missing the required parameter 'attachmentIds' when calling getV1NegotiableQuoteAttachmentContent(Async)");
        }
        

        okhttp3.Call localVarCall = getV1NegotiableQuoteAttachmentContentCall(attachmentIds, _callback);
        return localVarCall;

    }

    /**
     * negotiableQuote/attachmentContent
     * Returns content for one or more files attached on the quote comment.
     * @param attachmentIds  (required)
     * @return List&lt;NegotiableQuoteDataAttachmentContentInterface&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public List<NegotiableQuoteDataAttachmentContentInterface> getV1NegotiableQuoteAttachmentContent(List<Integer> attachmentIds) throws ApiException {
        ApiResponse<List<NegotiableQuoteDataAttachmentContentInterface>> localVarResp = getV1NegotiableQuoteAttachmentContentWithHttpInfo(attachmentIds);
        return localVarResp.getData();
    }

    /**
     * negotiableQuote/attachmentContent
     * Returns content for one or more files attached on the quote comment.
     * @param attachmentIds  (required)
     * @return ApiResponse&lt;List&lt;NegotiableQuoteDataAttachmentContentInterface&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<NegotiableQuoteDataAttachmentContentInterface>> getV1NegotiableQuoteAttachmentContentWithHttpInfo(List<Integer> attachmentIds) throws ApiException {
        okhttp3.Call localVarCall = getV1NegotiableQuoteAttachmentContentValidateBeforeCall(attachmentIds, null);
        Type localVarReturnType = new TypeToken<List<NegotiableQuoteDataAttachmentContentInterface>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * negotiableQuote/attachmentContent (asynchronously)
     * Returns content for one or more files attached on the quote comment.
     * @param attachmentIds  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1NegotiableQuoteAttachmentContentAsync(List<Integer> attachmentIds, final ApiCallback<List<NegotiableQuoteDataAttachmentContentInterface>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1NegotiableQuoteAttachmentContentValidateBeforeCall(attachmentIds, _callback);
        Type localVarReturnType = new TypeToken<List<NegotiableQuoteDataAttachmentContentInterface>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
