/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.NegotiableQuoteDataCommentInterface;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class NegotiableQuoteQuoteIdCommentsApi {
    private ApiClient localVarApiClient;

    public NegotiableQuoteQuoteIdCommentsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public NegotiableQuoteQuoteIdCommentsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1NegotiableQuoteQuoteIdComments
     * @param quoteId Negotiable Quote ID. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1NegotiableQuoteQuoteIdCommentsCall(Integer quoteId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/negotiableQuote/{quoteId}/comments"
            .replaceAll("\\{" + "quoteId" + "\\}", localVarApiClient.escapeString(quoteId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1NegotiableQuoteQuoteIdCommentsValidateBeforeCall(Integer quoteId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'quoteId' is set
        if (quoteId == null) {
            throw new ApiException("Missing the required parameter 'quoteId' when calling getV1NegotiableQuoteQuoteIdComments(Async)");
        }
        

        okhttp3.Call localVarCall = getV1NegotiableQuoteQuoteIdCommentsCall(quoteId, _callback);
        return localVarCall;

    }

    /**
     * negotiableQuote/{quoteId}/comments
     * Returns comments for a specified negotiable quote.
     * @param quoteId Negotiable Quote ID. (required)
     * @return List&lt;NegotiableQuoteDataCommentInterface&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public List<NegotiableQuoteDataCommentInterface> getV1NegotiableQuoteQuoteIdComments(Integer quoteId) throws ApiException {
        ApiResponse<List<NegotiableQuoteDataCommentInterface>> localVarResp = getV1NegotiableQuoteQuoteIdCommentsWithHttpInfo(quoteId);
        return localVarResp.getData();
    }

    /**
     * negotiableQuote/{quoteId}/comments
     * Returns comments for a specified negotiable quote.
     * @param quoteId Negotiable Quote ID. (required)
     * @return ApiResponse&lt;List&lt;NegotiableQuoteDataCommentInterface&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<NegotiableQuoteDataCommentInterface>> getV1NegotiableQuoteQuoteIdCommentsWithHttpInfo(Integer quoteId) throws ApiException {
        okhttp3.Call localVarCall = getV1NegotiableQuoteQuoteIdCommentsValidateBeforeCall(quoteId, null);
        Type localVarReturnType = new TypeToken<List<NegotiableQuoteDataCommentInterface>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * negotiableQuote/{quoteId}/comments (asynchronously)
     * Returns comments for a specified negotiable quote.
     * @param quoteId Negotiable Quote ID. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1NegotiableQuoteQuoteIdCommentsAsync(Integer quoteId, final ApiCallback<List<NegotiableQuoteDataCommentInterface>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1NegotiableQuoteQuoteIdCommentsValidateBeforeCall(quoteId, _callback);
        Type localVarReturnType = new TypeToken<List<NegotiableQuoteDataCommentInterface>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
