/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.InlineObject43;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProductsProductSkuStockItemsItemIdApi {
    private ApiClient localVarApiClient;

    public ProductsProductSkuStockItemsItemIdApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProductsProductSkuStockItemsItemIdApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for putV1ProductsProductSkuStockItemsItemId
     * @param productSku  (required)
     * @param itemId  (required)
     * @param inlineObject43  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call putV1ProductsProductSkuStockItemsItemIdCall(String productSku, String itemId, InlineObject43 inlineObject43, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject43;

        // create path and map variables
        String localVarPath = "/V1/products/{productSku}/stockItems/{itemId}"
            .replaceAll("\\{" + "productSku" + "\\}", localVarApiClient.escapeString(productSku.toString()))
            .replaceAll("\\{" + "itemId" + "\\}", localVarApiClient.escapeString(itemId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call putV1ProductsProductSkuStockItemsItemIdValidateBeforeCall(String productSku, String itemId, InlineObject43 inlineObject43, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'productSku' is set
        if (productSku == null) {
            throw new ApiException("Missing the required parameter 'productSku' when calling putV1ProductsProductSkuStockItemsItemId(Async)");
        }
        
        // verify the required parameter 'itemId' is set
        if (itemId == null) {
            throw new ApiException("Missing the required parameter 'itemId' when calling putV1ProductsProductSkuStockItemsItemId(Async)");
        }
        

        okhttp3.Call localVarCall = putV1ProductsProductSkuStockItemsItemIdCall(productSku, itemId, inlineObject43, _callback);
        return localVarCall;

    }

    /**
     * products/{productSku}/stockItems/{itemId}
     * 
     * @param productSku  (required)
     * @param itemId  (required)
     * @param inlineObject43  (optional)
     * @return Integer
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public Integer putV1ProductsProductSkuStockItemsItemId(String productSku, String itemId, InlineObject43 inlineObject43) throws ApiException {
        ApiResponse<Integer> localVarResp = putV1ProductsProductSkuStockItemsItemIdWithHttpInfo(productSku, itemId, inlineObject43);
        return localVarResp.getData();
    }

    /**
     * products/{productSku}/stockItems/{itemId}
     * 
     * @param productSku  (required)
     * @param itemId  (required)
     * @param inlineObject43  (optional)
     * @return ApiResponse&lt;Integer&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Integer> putV1ProductsProductSkuStockItemsItemIdWithHttpInfo(String productSku, String itemId, InlineObject43 inlineObject43) throws ApiException {
        okhttp3.Call localVarCall = putV1ProductsProductSkuStockItemsItemIdValidateBeforeCall(productSku, itemId, inlineObject43, null);
        Type localVarReturnType = new TypeToken<Integer>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * products/{productSku}/stockItems/{itemId} (asynchronously)
     * 
     * @param productSku  (required)
     * @param itemId  (required)
     * @param inlineObject43  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call putV1ProductsProductSkuStockItemsItemIdAsync(String productSku, String itemId, InlineObject43 inlineObject43, final ApiCallback<Integer> _callback) throws ApiException {

        okhttp3.Call localVarCall = putV1ProductsProductSkuStockItemsItemIdValidateBeforeCall(productSku, itemId, inlineObject43, _callback);
        Type localVarReturnType = new TypeToken<Integer>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
