/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProductsAttributeSetsAttributeSetIdAttributesAttributeCodeApi {
    private ApiClient localVarApiClient;

    public ProductsAttributeSetsAttributeSetIdAttributesAttributeCodeApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProductsAttributeSetsAttributeSetIdAttributesAttributeCodeApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCode
     * @param attributeSetId  (required)
     * @param attributeCode  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCodeCall(String attributeSetId, String attributeCode, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/products/attribute-sets/{attributeSetId}/attributes/{attributeCode}"
            .replaceAll("\\{" + "attributeSetId" + "\\}", localVarApiClient.escapeString(attributeSetId.toString()))
            .replaceAll("\\{" + "attributeCode" + "\\}", localVarApiClient.escapeString(attributeCode.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCodeValidateBeforeCall(String attributeSetId, String attributeCode, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'attributeSetId' is set
        if (attributeSetId == null) {
            throw new ApiException("Missing the required parameter 'attributeSetId' when calling deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCode(Async)");
        }
        
        // verify the required parameter 'attributeCode' is set
        if (attributeCode == null) {
            throw new ApiException("Missing the required parameter 'attributeCode' when calling deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCode(Async)");
        }
        

        okhttp3.Call localVarCall = deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCodeCall(attributeSetId, attributeCode, _callback);
        return localVarCall;

    }

    /**
     * products/attribute-sets/{attributeSetId}/attributes/{attributeCode}
     * Remove attribute from attribute set
     * @param attributeSetId  (required)
     * @param attributeCode  (required)
     * @return Boolean
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public Boolean deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCode(String attributeSetId, String attributeCode) throws ApiException {
        ApiResponse<Boolean> localVarResp = deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCodeWithHttpInfo(attributeSetId, attributeCode);
        return localVarResp.getData();
    }

    /**
     * products/attribute-sets/{attributeSetId}/attributes/{attributeCode}
     * Remove attribute from attribute set
     * @param attributeSetId  (required)
     * @param attributeCode  (required)
     * @return ApiResponse&lt;Boolean&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Boolean> deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCodeWithHttpInfo(String attributeSetId, String attributeCode) throws ApiException {
        okhttp3.Call localVarCall = deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCodeValidateBeforeCall(attributeSetId, attributeCode, null);
        Type localVarReturnType = new TypeToken<Boolean>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * products/attribute-sets/{attributeSetId}/attributes/{attributeCode} (asynchronously)
     * Remove attribute from attribute set
     * @param attributeSetId  (required)
     * @param attributeCode  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCodeAsync(String attributeSetId, String attributeCode, final ApiCallback<Boolean> _callback) throws ApiException {

        okhttp3.Call localVarCall = deleteV1ProductsAttributesetsAttributeSetIdAttributesAttributeCodeValidateBeforeCall(attributeSetId, attributeCode, _callback);
        Type localVarReturnType = new TypeToken<Boolean>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
