/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.CatalogInventoryDataStockItemInterface;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class StockItemsProductSkuApi {
    private ApiClient localVarApiClient;

    public StockItemsProductSkuApi() {
        this(Configuration.getDefaultApiClient());
    }

    public StockItemsProductSkuApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1StockItemsProductSku
     * @param productSku  (required)
     * @param scopeId  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1StockItemsProductSkuCall(String productSku, Integer scopeId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/stockItems/{productSku}"
            .replaceAll("\\{" + "productSku" + "\\}", localVarApiClient.escapeString(productSku.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (scopeId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("scopeId", scopeId));
        }

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1StockItemsProductSkuValidateBeforeCall(String productSku, Integer scopeId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'productSku' is set
        if (productSku == null) {
            throw new ApiException("Missing the required parameter 'productSku' when calling getV1StockItemsProductSku(Async)");
        }
        

        okhttp3.Call localVarCall = getV1StockItemsProductSkuCall(productSku, scopeId, _callback);
        return localVarCall;

    }

    /**
     * stockItems/{productSku}
     * 
     * @param productSku  (required)
     * @param scopeId  (optional)
     * @return CatalogInventoryDataStockItemInterface
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public CatalogInventoryDataStockItemInterface getV1StockItemsProductSku(String productSku, Integer scopeId) throws ApiException {
        ApiResponse<CatalogInventoryDataStockItemInterface> localVarResp = getV1StockItemsProductSkuWithHttpInfo(productSku, scopeId);
        return localVarResp.getData();
    }

    /**
     * stockItems/{productSku}
     * 
     * @param productSku  (required)
     * @param scopeId  (optional)
     * @return ApiResponse&lt;CatalogInventoryDataStockItemInterface&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CatalogInventoryDataStockItemInterface> getV1StockItemsProductSkuWithHttpInfo(String productSku, Integer scopeId) throws ApiException {
        okhttp3.Call localVarCall = getV1StockItemsProductSkuValidateBeforeCall(productSku, scopeId, null);
        Type localVarReturnType = new TypeToken<CatalogInventoryDataStockItemInterface>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * stockItems/{productSku} (asynchronously)
     * 
     * @param productSku  (required)
     * @param scopeId  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 400 Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> 401 Unauthorized </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1StockItemsProductSkuAsync(String productSku, Integer scopeId, final ApiCallback<CatalogInventoryDataStockItemInterface> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1StockItemsProductSkuValidateBeforeCall(productSku, scopeId, _callback);
        Type localVarReturnType = new TypeToken<CatalogInventoryDataStockItemInterface>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
