/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.magento.api.model.ErrorResponse;
import org.magento.api.model.InlineObject56;
import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TfaProviderU2fkeyActivateApi {
    private ApiClient localVarApiClient;

    public TfaProviderU2fkeyActivateApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TfaProviderU2fkeyActivateApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for postV1TfaProviderU2fkeyActivate
     * @param inlineObject56  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postV1TfaProviderU2fkeyActivateCall(InlineObject56 inlineObject56, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject56;

        // create path and map variables
        String localVarPath = "/V1/tfa/provider/u2fkey/activate";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call postV1TfaProviderU2fkeyActivateValidateBeforeCall(InlineObject56 inlineObject56, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = postV1TfaProviderU2fkeyActivateCall(inlineObject56, _callback);
        return localVarCall;

    }

    /**
     * tfa/provider/u2fkey/activate
     * Activate the provider and get a token
     * @param inlineObject56  (optional)
     * @return ErrorResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ErrorResponse postV1TfaProviderU2fkeyActivate(InlineObject56 inlineObject56) throws ApiException {
        ApiResponse<ErrorResponse> localVarResp = postV1TfaProviderU2fkeyActivateWithHttpInfo(inlineObject56);
        return localVarResp.getData();
    }

    /**
     * tfa/provider/u2fkey/activate
     * Activate the provider and get a token
     * @param inlineObject56  (optional)
     * @return ApiResponse&lt;ErrorResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ErrorResponse> postV1TfaProviderU2fkeyActivateWithHttpInfo(InlineObject56 inlineObject56) throws ApiException {
        okhttp3.Call localVarCall = postV1TfaProviderU2fkeyActivateValidateBeforeCall(inlineObject56, null);
        Type localVarReturnType = new TypeToken<ErrorResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * tfa/provider/u2fkey/activate (asynchronously)
     * Activate the provider and get a token
     * @param inlineObject56  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postV1TfaProviderU2fkeyActivateAsync(InlineObject56 inlineObject56, final ApiCallback<ErrorResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = postV1TfaProviderU2fkeyActivateValidateBeforeCall(inlineObject56, _callback);
        Type localVarReturnType = new TypeToken<ErrorResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
