/*
 * Commerce Admin REST endpoints - All inclusive
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.4.5
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;


import org.magento.api.model.TwoFactorAuthProviderInterface;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TfaTfatProvidersToActivateApi {
    private ApiClient localVarApiClient;

    public TfaTfatProvidersToActivateApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TfaTfatProvidersToActivateApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getV1TfaTfatproviderstoactivate
     * @param tfaToken  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1TfaTfatproviderstoactivateCall(String tfaToken, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/V1/tfa/tfat-providers-to-activate";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (tfaToken != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("tfaToken", tfaToken));
        }

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getV1TfaTfatproviderstoactivateValidateBeforeCall(String tfaToken, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'tfaToken' is set
        if (tfaToken == null) {
            throw new ApiException("Missing the required parameter 'tfaToken' when calling getV1TfaTfatproviderstoactivate(Async)");
        }
        

        okhttp3.Call localVarCall = getV1TfaTfatproviderstoactivateCall(tfaToken, _callback);
        return localVarCall;

    }

    /**
     * tfa/tfat-providers-to-activate
     * Get the providers that the user still needs to configure
     * @param tfaToken  (required)
     * @return List&lt;TwoFactorAuthProviderInterface&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public List<TwoFactorAuthProviderInterface> getV1TfaTfatproviderstoactivate(String tfaToken) throws ApiException {
        ApiResponse<List<TwoFactorAuthProviderInterface>> localVarResp = getV1TfaTfatproviderstoactivateWithHttpInfo(tfaToken);
        return localVarResp.getData();
    }

    /**
     * tfa/tfat-providers-to-activate
     * Get the providers that the user still needs to configure
     * @param tfaToken  (required)
     * @return ApiResponse&lt;List&lt;TwoFactorAuthProviderInterface&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<TwoFactorAuthProviderInterface>> getV1TfaTfatproviderstoactivateWithHttpInfo(String tfaToken) throws ApiException {
        okhttp3.Call localVarCall = getV1TfaTfatproviderstoactivateValidateBeforeCall(tfaToken, null);
        Type localVarReturnType = new TypeToken<List<TwoFactorAuthProviderInterface>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * tfa/tfat-providers-to-activate (asynchronously)
     * Get the providers that the user still needs to configure
     * @param tfaToken  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 200 Success. </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Unexpected error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getV1TfaTfatproviderstoactivateAsync(String tfaToken, final ApiCallback<List<TwoFactorAuthProviderInterface>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getV1TfaTfatproviderstoactivateValidateBeforeCall(tfaToken, _callback);
        Type localVarReturnType = new TypeToken<List<TwoFactorAuthProviderInterface>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
